body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFE5F1;
    top: 0;
    bottom: 0;


}

@font-face {
    font-family: FC Minimal Regular;
    src: url(Font_FC-Minimal/FC Minimal Regular.otf) format("truetype");
}

#wrapper {
    z-index: 55555;
    left: 77%;
    position: fixed;
    width: 35px;
    height: 30px;
    margin: 45px 20px;
}

.line {

    cursor: pointer;
    display: none;
    height: 5px;
    width: 100%;
    background: #3F3B6C;
    border-radius: 2px;
    transition: 0.3s ease;

}

.top {
    transform: translateY(-4px);
}

.bottom {
    transform: translateY(4px);
}

.bar {
    position: relative;
    display: flex;
}

.logo {
    flex: 20%;
    margin: 40px 0 20px 7%;
    left: 50px;

}

.navbar {
    flex: 0.7;
    border-radius: 50px;
    align-items: center;
    display: flex;
    padding: 0;


}

.navbar li {
    display: flex;
    list-style: none;
    margin: 0px 0 0 10%;

}

.navbar li a {
    position: relative;
    display: flex;
    font-family: 'Unbounded', cursive;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 10px 15px;
    top: 10px;
    color: #3F3B6C;
    text-decoration: none;





}

.navbar li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    border-radius: 15px;
    background: #3F3B6C;

    transition: all 0.4s ease;



}

.navbar li a.active {

    color: #3F3B6C;
}



.navbar li a:hover::before {

    width: 100%;
}

a:link {
    text-decoration: none;
}

.box {
    margin-top: 4%;
    position: relative;
}

.container {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    flex-direction: row;


}



img.img {
    width: 15vw;
    left: 18vw;
    position: relative;
    align-items: center;
    margin-bottom: 20px;

}

.column {
    flex: 50%;

}



#luv {
    color: #3F3B6C;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    position: relative;
    margin: 20px;
    font-size: 40px;

}

#sub {
    color: #3F3B6C;
    position: relative;
    margin: 20px;
    font-size: 21px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    width: 35vw;
}

div.footer {
    bottom: 20px;
    position: fixed;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #3F3B6C;
    text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.3);

}

@media screen and (max-width:768px) {
    body {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    .logo {
        flex: none;
        margin: 40px 0 20px 7%;
        left: 0;
    }

    .line {
        display: block;
    }


    .close .top {
        transform: translateY(4px) rotate(-45deg);
        background: white;
    }

    .close .bottom {
        transform: translateY(-6px) rotate(45deg);
        background: white;
    }

    .close .middle {
        opacity: 0;
    }

    .close {
        display: block;
        transition: all 1.2s ease;
    }

    .navbar {
        margin: 0;
        border-radius: 0;
        height: 100vh;
        width: 100%;
        display: block;
        position: fixed;
        align-items: center;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;

        clip-path: circle(0% at 600px 10px);
        background: #3F3B6C;

        cursor: pointer;

        transition: all 1.2s ease;
    }

    .bar {
        flex-direction: column-reverse;
    }

    .change-bar {

        clip-path: circle(100%);
        background: #3F3B6C;
        position: relative;
        transition: all 1.2s ease;

    }


    .navbar li a {
        font-weight: 600;
        display: block;
        font-size: 30px;
        margin: 160px 0;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;



    }

    .navbar li a:hover {
        background: none;
    }

    .navbar li {
        display: block;
        margin: 0;
    }

    .navbar li a:before {
        background: none;


    }

    .navbar li a.active {
        color: palevioletred;
    }

    .box{
        top:3%;
    }
    .container {
       
        flex-direction: column-reverse;
    }

    img.img {
        width: 45vw;
        margin-right: 30vw;
        margin-top: 10vw;
    }

    #sub {
        width: 75vw;
        margin: auto;
    }

    div.column.left {}

    div.footer {
        width: auto;
        margin: 20vw 10px 0 10px;
        position: relative;

    }
}
