body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: #3F3B6C;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
}

/*Shooting Star*/


@keyframes animateBg {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.star {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
    z-index: 1;
}

.star::before {

    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;

    }

    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;

    }

}

.star:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

.star:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.star:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.star:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.star:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.star:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.star:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 1.75s;
}

.star:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.star:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.star:nth-child(10) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}

/*menu bar*/


#wrapper {
    z-index: 999;
    left: 77%;
    position: fixed;
    width: 35px;
    height: 30px;
    margin: 45px 20px;
}

.line {

    cursor: pointer;
    display: none;
    height: 5px;
    width: 100%;
    background: #3F3B6C;
    border-radius: 2px;
    transition: 0.3s ease;

}

.top {
    transform: translateY(-4px);
}

.bottom {
    transform: translateY(4px);
}

.bar {
    z-index: 99;
    position: relative;
    display: flex;
}

.logo {
    display: flex;
    position: absolute;
    margin: 40px 20px;
    left: 50px;

}

.navbar {
    position: absolute;
    border-radius: 50px;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 25px 0 0 70%;

}

.navbar li {
    display: flex;
    list-style: none;
    margin: 0px 0 0 20%;

}

.navbar li a {
    position: relative;
    display: flex;
    font-family: 'Unbounded', cursive;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 10px 15px;
    top: 10px;
    color: #3F3B6C;
    text-decoration: none;





}

.navbar li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    border-radius: 15px;
    background: #3F3B6C;

    transition: all 0.4s ease;



}

.navbar li a.active {

    color: #3F3B6C;
}



.navbar li a:hover::before {

    width: 100%;
}

a:link {
    text-decoration: none;
}

/*Footer*/
.footer {

    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: #3F3B6C;
    /*    text-shadow: 1px 2px 4px rgba(255, 255, 255, 0.3);*/
    z-index: 33;

}



/*background-color*/
.background {

    /*    background-image: linear-gradient(to bottom, #e5e4f2, #e9e4f2, #ede4f2, #f0e5f1, #f4e5f0, #f8e5ee, #fce6eb, #fee7e8, #ffe8e3, #ffebdf, #fdeedc, #f8f1db);*/
    position: fixed;
    width: 100%;
    height: 100%;
    transition-duration: 0.4s;
    background: linear-gradient(358deg, #f8f1db, #f7e1dd, #f8e5ee, #ffecf5, #fcedd8);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 53% 0%
    }

    50% {
        background-position: 48% 100%
    }

    100% {
        background-position: 53% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 53% 0%
    }

    50% {
        background-position: 48% 100%
    }

    100% {
        background-position: 53% 0%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 53% 0%
    }

    50% {
        background-position: 48% 100%
    }

    100% {
        background-position: 53% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 53% 0%
    }

    50% {
        background-position: 48% 100%
    }

    100% {
        background-position: 53% 0%
    }
}

/*view*/
.view {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#ground1 {

    position: absolute;
    left: 30%;
    top: 82%;
    z-index: 4;
}

#ground2 {

    position: absolute;
    top: 80%;
    z-index: 3;
}

#ground3 {

    position: absolute;
    top: 80%;
    z-index: 2;
}

#cloud {
    width: 100%;
    position: absolute;
    /*    top: 35%;*/
    z-index: 1;

}


.Contents {

    color: #3F3B6C;
    z-index: 1000;
    position: absolute;
    text-align: center;
    justify-content: center;
    width: 712px;
    top: 25%;
    font-family: 'Kanit',
        sans-serif;
    animation: fadeIn 2s;
    /*    text-shadow: 1px 2px 4px rgba(0,0,0,0.1);*/

}



.Contents[closing] {
    pointer-events: none;
    animation: fade-out 500ms forwards;

}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.Contents h1 {
    font-size: 45px;
    color: #3F3B6C;


}

.Contents p {

    text-align: center;
    font-size: 20px;

}

.btn {
    width: 200px;
    height: 49px;
    margin-top: 30px;
    background-color: #3F3B6C;
    border: none;
    border-radius: 30px;
    color: whitesmoke;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    /*    transition: opacity 1s;*/
    -webkit-transition-duration: 0.3s;

}

.btn:hover,
btn:focus,
btn:active {
    box-shadow: 0 0 20px rgba(63, 59, 108, 0.5);
    background: #3F3B6C;
    color: whitesmoke;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    /*    transition: 0.3 ease;*/
}

/*question*/

.stressQuiz {
    flex-direction: row;
    top: 150px;
    display: none;
    position: relative;
    justify-content: center;
    text-align: center;
    z-index: 20;


}




div.question {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 10px;
    font-family: 'Kanit', sans-serif;
    color: #3F3B6C;
}

h2#questionNo {
    font-size: 27px;
    margin: 16px 10px 0;



}


.question h2:first-child {
    margin: 0 10px 0 5px;
}

/*Quiz*/
#optionList {

    top: 70px;
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    position: absolute;

}

.choice {

    position: relative;
    font-weight: 100;
    text-align: center;
    height: 50px;
    width: 250px;
    background: white;
    line-height: 50px;
    margin: 15px 0;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 19px;
    color: #3F3B6C;
    overflow: hidden;
    box-shadow: 0 0 25px -10px #555;
    cursor: pointer;
    transition: 0.3;
    z-index: 1;
}

.choice::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #3F3B6C;
    transform: translate(-50%, -50%);
    transition: width 0.6s, height 0.6s;
    z-index: -1;
    color: white;


}

.choice:hover::before {
    color: white;
    width: 600px;
    height: 600px;
}



#optionList h3:hover {

    color: white;
    font-weight: 100;
}

.active {
    background: #3F3B6C;
    color: white;
}

.disabled {
    pointer-events: none;
}

/*Answers Sections*/
.answerSection {
    position: absolute;
    top: 400px
}



/*Progress Bar*/


.progressText {
    position: absolute;
    font-size: 28px;
    font-family: 'Kanit', sans-serif;
    color: #3F3B6C;
    top: 26rem;

}

.ProgressBar {
    /*        z-index: 5;*/
    position: absolute;
    width: 20rem;
    height: 1.2rem;
    /*    border: solid #3F3B6C;*/
    background: white;
    border-radius: 50px;
    overflow: hidden;
    top: 29rem;
    box-shadow: 0 0 20px rgba(63, 59, 108, 0.5);
}

.ProgessValue {
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    width: 1vw;
    height: 1.2rem;
    background-color: #3F3B6C;
    transition: 0.5s;
}



/*
span {
    border: solid #3F3B6C;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-top: -9px;
    margin-right: -26px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f1bcda, #ce9dc5, #a881b2, #80679f, #544f8c);
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/




/*background*/
.view1 {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #afe5ff, #cbeaff, #e2efff, #f4f6ff, #ffffff);

}


@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }

    div.footer {
        width: 80vw;
        position: relative;

        margin: auto;
        bottom: 15vw
    }

    .logo {
        left: 0;
        z-index: 88;
    }

    .line {
        display: block;
    }


    .close .top {
        transform: translateY(4px) rotate(-45deg);
        background: white;
    }

    .close .bottom {
        transform: translateY(-6px) rotate(45deg);
        background: white;
    }

    .close .middle {
        opacity: 0;
    }

    .close {
        display: block;
        transition: all 1.2s ease;
    }

    .navbar {
        margin: 0;
        border-radius: 0;
        height: 100vh;
        width: 100%;
        display: block;
        background-color: pink;
        position: fixed;
        align-items: center;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        z-index: 1;
        clip-path: circle(0% at 600px 10px);
        background: #3F3B6C;

        cursor: pointer;

        transition: all 1.2s ease;
    }

    .change-bar {
        z-index: 99;
        clip-path: circle(100%);
        background: #3F3B6C;
        transition: all 1.2s ease;
    }


    .navbar li a {
        font-weight: 600;
        display: block;
        font-size: 30px;
        margin: 160px 0;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;



    }

    .navbar li a:hover {
        background: none;
    }

    .navbar li {
        display: block;
        margin: 0;
    }

    .navbar li a:before {
        background: none;


    }

    .navbar li a.active {
        color: palevioletred;
    }



    .topic {
        top: 35vw;
        font-size: 35px;
    }

    .Contents {
        width: 355px;
        top: 12%;
    }

    .Contents p {

        margin: 20px 20px 20px;

    }

    div.question {
        margin: 18px;
    }

    .progressText {
        font-size: 24px;
        top: 31rem;
    }

    questionText {
        width: 20vw;
    }

    .ProgressBar {
        top: 34rem;
        z-index: 3
    }

    #optionList {
        margin-top: 10vw;
        position: absolute;
        z-index: 13;
    }

}
